@tailwind base;
@tailwind components;
@tailwind utilities;



.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(102, 102, 237);
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .2s;
}
.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(102, 102, 237);
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .3s;
}